@import "../node_modules/purecss/build/base-min.css";
@import "../node_modules/purecss/build/grids-min.css";
@import "../node_modules/purecss/build/forms-min.css";
@import "../node_modules/purecss/build/buttons-min.css";

:root {
    --near-black: #2e3440;
    --greyish: #434c5e;
    --whale-blue: #5e81ac;
    --whiteish: #e5e9f0;
    --banana: #ebcb8b;
    --green: #a3be8c;
    --red: #bf616a;
}

body {
    background: var(--near-black);
    color: var(--whiteish);
    font-family: "Andale Mono", "Helvetica", sans-serif;
}

button {
    box-shadow: 4px 4px 10px var(--near-black);
}

input:focus {
    outline: none;
    box-shadow: 0px 0px 2px var(--whiteish);
}

.game-container {
    width: 360px;
    background: var(--greyish);
    margin: 10% auto;
    padding: 0 3%;
    border-radius: 10px;
}

.input-container {
    /*border: 3px dashed greenyellow;*/
    border-radius: 10px;
    width: 100%;
    margin: 10% 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buttons-container {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.6em;
}

.guess-field {
    width: 98%;
    border-radius: 2px;
    margin: 0 auto 5%;
    font-size: 4.2em;
    text-align: center;
    letter-spacing: 2px;
}



